:root {
    --normal-size: 200px;
    --small-size: 125px;
}
.bubbleDiv {
    box-shadow: 0px 0px 15px rgb(0, 229, 255);
    position: absolute;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0%;
    transition: .5s all;
    width: var(--normal-size);
    height: var(--normal-size);
}
.bubbleImg {
    position: relative;
    flex: none;
}
.portraitImg {
    width: 100%;
    height: auto;
}
.landscapeImg {
    width: auto;
    height: 100%;
}
#imgHolder {
    display: none;
}
.bubbleHolder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--normal-size) * 2 + var(--normal-size) / 5);
    height: calc(var(--normal-size) * 2 + var(--normal-size) / 5);
}
.bubbleFadeClass {
    animation: 4s ease-in bubbleFadeAnim forwards;
}
@keyframes bubbleFadeAnim {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.top {
    top: 0px;
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
@media screen and (max-width: 550px), (max-height: 650px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    header {
        flex: none;
    }
    footer {
        flex: none;
    }
    .bubbleDiv {
        width: var(--small-size);
        height: var(--small-size);
    }
    .bubbleHolder {
        margin-top: 20px;
        flex: none;
        width: calc(var(--small-size) * 2 + var(--small-size) / 5);
        height: calc(var(--small-size) * 2 + var(--small-size) / 5);
    }
}
@media screen and (max-height: 450px) {
    .right {
        display: none;
    }
    .bottom {
        display: none;
    }
    .top, .left{
        top: initial;
        left: initial;
        flex: none;
    }
    .bubbleHolder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bubbleFadeClass {
        animation: 5s ease-in bubbleFadeAnim forwards;
    }
}