:root {
    --normalSize: 150px;
    --smallSize: 50px;
}
.bubbleDiv {
    box-shadow: 0px 0px 10px white;
    position: absolute;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0%;
    transition: .5s all;
    width: var(--normalSize);
    height: var(--normalSize);
}
.bubbleImg {
    position: relative;
    flex: none;
    width: auto;
    height: 100%;
}
#imgHolder {
    display: none;
}
.bubbleHolder {
    position: relative;
    width: 580px;
    height: 580px;
}
.bubbleFadeClass {
    animation: 10s ease-in bubbleFadeAnim forwards;
}
@keyframes bubbleFadeAnim {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.top {
    top: 0px;
}
.middle {
    top: 50%;
    margin-top: calc(var(--normalSize) * -.5);
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.center {
    left: 50%;
    margin-left: calc(var(--normalSize) * -.5);
}
@media screen and (max-width: 400px) {
    .bubbleDiv {
        width: var(--smallSize);
        height: var(--smallSize);
    }
    .bubbleHolder {
        width: 200px;
        height: 200px;
    }
    .middle {
        margin-top: calc(var(--smallSize) * -.5);
    }
    .center {
        margin-left: calc(var(--smallSize) * -.5);
    }
}