:root {
    --normalSize: 180px;
    --growSize: 200px;
}
.bubbleDiv {
    position: absolute;
    border: solid white 2px;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0%;
    transition: .5s all;
    width: var(--normalSize);
    height: var(--normalSize);
}
.bubbleDiv:hover {
    width: var(--growSize);
    height: var(--growSize);
}
.bubbleImg {
    position: relative;
    flex: none;
    width: auto;
    height: 100%;
}
#imgHolder {
    display: none;
}
.bubbleHolder {
    position: relative;
    width: 60%;
    height: 600px;
}
.bubbleInClass {
    animation: 2s ease-in bubbleInAnim forwards;
}
@keyframes bubbleInAnim {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.top {
    top: 0px;
}
.middle {
    top: 50%;
    margin-top: calc(var(--normalSize) * -.5);
}
.bottom {
    bottom: 0px;
}
.left {
    left: 0px;
}
.right {
    right: 0px;
}
.center {
    left: 50%;
    margin-left: calc(var(--normalSize) * -.5);
}