:root {
    --gallery-bg: rgba(209, 255, 160, 0.703);
    --lg-img: 200px;
    --sml-img: 100px;
}
#img-holder {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: var(--gallery-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    overflow-y: auto;
}
.gallery-img {
    flex: none;
}
.gallery-img-portrait {
    height: 100%;
    width: auto;
}
.gallery-img-landscape {
    height: auto;
    width: 100%;
}
.gallery-img-div {
    flex: none;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: max-content;
    flex-shrink: 0;
    opacity: 0;
    transition: all 1s;
}
.fadeIn {
    opacity: 1;
}
.portrait-div {
    width: auto;
    height: var(--lg-img);
}
.landscape-div {
    width: var(--lg-img);
    height: auto;
}
@media screen and (max-width: 500px) {
    .portrait-div {
        height: var(--sml-img);
        width: auto;
    }
    .landscape-div{
        height: auto;
        width: var(--sml-img);
    }
    .gallery-img-div {
        margin: 10px;
        padding: 5px;
    }
}