:root {
    box-sizing: border-box;
    --accent-color: rgb(144, 207, 115);
    --gallery-bg: rgba(209, 255, 160, 0.703);
    --div-bg: rgba(144, 207, 115, 0.373);
}
body {
    margin: 0px;
}
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--gallery-bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    z-index: 19;
    background-color: white;
    padding: 0px;
    font-size: 30pt;
    font-family: 'Gothic A1';
    height: 100px;
    width: 100%;
    position: relative;
    top: 0px;
    flex: none;
}
header a {
    text-decoration: none;
    color: black;
}
header a:visited {
    color: black;
}
.navbar {
    box-sizing: border-box;
    top: 55px;
    font-size: 18pt;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent-color);
    padding: 10px;
    z-index: 10;
    position: absolute;
}
.navbar a {
    text-decoration: none;
    color: black;
    flex: none;
}
.navbar a:visited {
    color: black;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#contact-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
@media screen and (max-width: 500px) {
    .navbar {
        font-size: 16pt;
    }
}
