#info-wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    position: absolute;
    background-color: var(--gallery-bg);
    width: 100%;
    height: fit-content;
    min-height: 100%;
}
#info-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: auto;
    min-height: 100px;
}
.info-paragraph {
    border-radius: 5px;
    background-color: var(--div-bg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15pt;
    display: flex;
    box-sizing: border-box;
    margin: 20px;
}
.info-img-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 50px;
    box-sizing: border-box;
}
.img-div {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.border-div {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--accent-color);
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.medium-portrait-border-div {
    width: 200px;
    height: auto;
}
.medium-landscape-border-div {
    width: 400px;
    height: auto;
}
.subject-portrait-border-div {
    width: 150px;
    height: auto;
}
.subject-landscape-border-div {
    width: 300px;
    height: auto;
}
.portrait-img {
    width: 100%;
    height: auto;
    flex: none;
}
.landscape-img {
    width: 100%;
    height: auto;
    flex: none;
}
h3 {
    padding: 10px;
    background-color: var(--div-bg);
    border-radius: 5px;
    flex: none;
}