.info-wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    position: relative;
    background-color: var(--gallery-bg);
    width: 100%;
    height: fit-content;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100px;
    flex: none;
}
.info-paragraph {
    position: relative;
    border-radius: 5px;
    background-color: var(--div-bg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 15pt;
    display: flex;
    box-sizing: border-box;
    margin: 50px;
    margin-bottom: 0px;
    flex: none;
    width: fit-content;
}
.info-img-holder {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.img-div {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    box-sizing: border-box;
    height: fit-content;
}
.subjects-div {
    height: 325px;
}
.mediums-div {
    height: 400px;
}
.photo-div {
    height: 220px;
}
.border-div {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--accent-color);
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.photo-landscape-border-div {
    width: 300px;
    height: auto;
}
.medium-portrait-border-div {
    width: 200px;
    height: auto;
}
.medium-landscape-border-div {
    width: 400px;
    height: auto;
}
.medium-square-border-div {
    width: 300px;
    height: auto;
}
.subject-portrait-border-div {
    width: 150px;
    height: auto;
}
.subject-landscape-border-div {
    width: 300px;
    height: auto;
}
.info-img {
    width: 100%;
    height: auto;
    flex: none;
    display: block;
}
h3 {
    padding: 10px;
    background-color: var(--div-bg);
    border-radius: 5px;
    flex: none;
    margin-block: 0px;
    margin-top: 30px;
}
#photo-header {
    margin-bottom: 50px;
}
@media screen and (max-width: 1400px) {
    .subject-landscape-border-div {
        width: 200px;
        height: auto;
    }
    .subject-portrait-border-div {
        width: 100px;
        height: auto;
    }
    .subjects-div {
        height: 250px;
    }
    .medium-landscape-border-div {
        width: 300px;
        height: auto;
    }
    .medium-portrait-border-div {
        width: 150px;
        height: auto;
    }
    .medium-square-border-div {
        width: 200px;
        height: auto;
    }
    .mediums-div {
        height: 310px;
    }
}
@media screen and (max-width: 1100px) {
    .mediums-div {
        height: 245px;
    }
    .medium-landscape-border-div {
        width: 200px;
        height: auto;
    }
    .medium-portrait-border-div {
        width: 100px;
        height: auto;
    }
    .medium-square-border-div {
        width: 150px;
        height: auto;
    }
}
@media screen and (max-width: 780px) {
    #photo-header {
        margin: 0px 15px 50px 15px;
    }
    .photo-div {
        height: 160px;
    }
    .photo-landscape-border-div {
        width: 150px;
        height: auto;
    }
    .info-paragraph {
        margin: 15px;
        font-size: 12pt;
    }
    .mediums-div {
        height: 185px;
    }
    .subjects-div {
        height: 180px;
    }
    h3 {
        font-size: 10pt;
    }
    .medium-landscape-border-div {
        width: 125px;
        height: auto;
    }
    .medium-portrait-border-div {
        width: 75px;
        height: auto;
    }
    .medium-square-border-div {
        width: 90px;
        height: auto;
    }
    .subject-landscape-border-div {
        width: 125px;
        height: auto;
    }
    .subject-portrait-border-div {
        width: 75px;
        height: auto;
    }
    .img-div {
        margin: 10px;
    }
    .border-div {
        padding: 5px;
    }
}
@media screen and (max-width: 325px) {
    .mediums-div {
        height: 170px;
    }
}
