.pawprint {
    display: block;
    flex: none;
    width: var(--paw-size);
    height: var(--paw-size);
    color: black;
    z-index: 2;
}
.column-holder {
    --paw-size: 75px;
    display: flex;
    flex-direction: row;
    width: calc(var(--paw-size) * 2);
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
}
.column {
    box-sizing: border-box;
    width: var(--paw-size);
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}
.left-column {
    margin-bottom: var(--paw-size);
}
.right-column {
    margin-top: var(--paw-size);
}
@media screen and (max-width: 700px) {
    .column-holder {
        --paw-size: 35px;
}
}
