:root {
    box-sizing: border-box;
    --scrollbar-color: rgb(0, 0, 0);
    --bg-side-color: rgb(0, 0, 68);
    --bg-mid-color: rgb(10, 0, 49);
    --half: rgba(255, 255, 255, .5);
    --main-img-height: 350px;
    --main-img-width: 255px;
    --main-img-height-sm: 300px;
    --main-img-width-sm: 200px;
}
.wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(to left, var(--bg-side-color), var(--bg-mid-color) 30% 70%, var(--bg-side-color));
    overflow: hidden;
}
.contact {
    color: black;
    position: fixed;
    bottom: -50px;
    transition: all .5s ease-in;
    flex: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center
}
.contact:hover {
    cursor: pointer;
}
.contact-text {
    font-family: 'Gothic A1';
    background-color: rgb(240, 232, 217);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    width: fit-content;
    flex: none;
}
.contact-header {
    font-size: 15pt;
    z-index: 10;
    padding-bottom: 20px;
}
.contact-body {
    font-size: 13pt;
}
.contact-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.contact-link:hover {
    text-decoration: underline;
}
h1 {
    font-family:'Gothic A1';
}
header {
    padding: 0px;
    position: relative;
    font-size: 30pt;
    font-family: 'Gothic A1';
    height: 100px;
}
header a {
    text-decoration: none;
    color: white;
}
header a:visited {
    color: white;
}
#mainImgDiv {
    overflow: hidden;
    width: var(--main-img-width);
    height: calc(var(--main-img-height - 5));
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color :black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}
#main-img {
    width: auto;
    height: var(--main-img-height);    
}
#imgScrollDiv {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    scroll-behavior: smooth;
}
#scrollDivHolder {
    width: 950px;
    height: 100px;
    margin: 20px;
}
.arrow {
    transition: 1s all;
}
.arrow:hover {
    --half: white;
}
#left-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid var(--half);
}
#right-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--half);
}
#left-anchor-arrow {
    left: -30px;
}
#right-anchor-arrow {
    right: -30px;
}
.anchor-arrow {
    margin-top: 40px;
    position: absolute;
    text-decoration: none;
}
.scroll-div {
    overflow: hidden;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    scroll-margin-inline-start: 10px;
    scroll-margin-inline-end: 10px;
}
.scroll-img {
    flex: none;
    width: auto;
    height: 100px;
}
footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    margin-top: 20px;
    font-size: 18pt;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: white;
    flex: none;
    margin-left: 50px;
    margin-right: 50px;
}
.navbar a:visited {
    color: white;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main {
    display: flex;
    position: relative;
    width: 1000px;
    height: 600px;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-height: 700px) {
    header {
        font-size: 23pt;
    }
    .navbar {
        font-size: 15pt;
    }
}
@media screen and (max-width: 1100px) {
    .main {
        width: 600px;
    }
    #scrollDivHolder {
        width: 570px;
    }
    .wrapper {
        background: linear-gradient(to left, var(--bg-side-color), var(--bg-mid-color) 30% 70%, var(--bg-side-color));
    }
}
@media screen and (max-width: 700px) {
    .main {
        width: 300px;
    }
    #mainImgDiv {
        width: var(--main-img-wdht-sm);
        height: calc(var(--main-img-height-sm - 5));
    }
    #main-img {
        width: auto;
        height: var(--main-img-height-sm);
    }
    #left-anchor-arrow {
        display: none;
    }
    #right-anchor-arrow {
        display: none;
    }
    #scrollDivHolder {
        width: 285px;
    }
    #imgScrollDiv {
        overflow-x: auto;
    }
    @media screen and (max-width: 550px) {
        .contact-header {
            width: 200px;
        }
        .contact-body {
            width: 300px;
        }
        .contact {
            bottom: -100px;
        }
    }
}