:root {
    box-sizing: border-box;
    --accent-color: rgb(144, 207, 115);
}
.wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
}
.contact {
    color: black;
    position: fixed;
    bottom: -50px;
    transition: all .5s ease-in;
    flex: none;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact:hover {
    cursor: pointer;
}
.contact-text {
    font-family: 'Gothic A1';
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    width: fit-content;
    flex: none;
}
.contact-header {
    font-size: 15pt;
    z-index: 10;
    padding-bottom: 20px;
}
.contact-body {
    font-size: 13pt;
}
.contact-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.contact-link:hover {
    text-decoration: underline;
}
header {
    padding: 0px;
    position: relative;
    font-size: 30pt;
    font-family: 'Gothic A1';
    height: 100px;
    width: 100%;
}
header a {
    text-decoration: none;
    color: black;
}
header a:visited {
    color: black;
}
footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar {
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 18pt;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--accent-color);
    padding: 10px;
    z-index: 10;
    position: relative;
}
.navbar a {
    text-decoration: none;
    color: black;
    flex: none;
}
.navbar a:visited {
    color: black;
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (max-height: 700px) {
    header {
        font-size: 23pt;
        height: 77.6px;
    }
    .navbar {
        font-size: 15pt;
    }
}
@media screen and (max-width: 1100px) {
    .wrapper {
        background: linear-gradient(to left, var(--bg-side-color), var(--bg-mid-color) 30% 70%, var(--bg-side-color));
    }
}
@media screen and (max-width: 700px) {
    @media screen and (max-width: 550px) {
        header {
            width: 100%;
        }
        .contact-header {
            width: 200px;
        }
        .contact-body {
            width: 300px;
        }
        .contact {
            bottom: -100px;
        }
    }
}