:root {
    box-sizing: border-box;
    --mainimg-color: rgba(0, 4, 255, 0.323);
    --scrollbar-color: rgb(0, 0, 0);
    --bg-side-color: rgb(0, 0, 93);
    --bg-mid-color: rgb(10, 0, 49);
    --half: rgba(255, 255, 255, .5);
    --main-img-height: 400px;
    --main-img-width: 305px;
    --main-img-height-sm: 300px;
    --main-img-width-sm: 200px;
}
.wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(to left, var(--bg-side-color), var(--bg-mid-color) 30% 70%, var(--bg-side-color));
}
h1 {
    font-family:'Pinyon Script';
}
header {
    position: absolute;
    top: 20px;
}
header a {
    text-decoration: none;
    color: white;
}
header a:visited {
    color: white;
}
#mainImgDiv {
    overflow: hidden;
    width: var(--main-img-width);
    height: calc(var(--main-img-height - 5));
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color :black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px white;
}
#main-img {
    width: auto;
    height: var(--main-img-height);    
}
#imgScrollDiv {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    border-radius: 5px;
    overflow: hidden;
    scroll-behavior: smooth;
}
#scrollDivHolder {
    width: 950px;
    height: 100px;
    margin: 20px;
}
.arrow {
    transition: 1s all;
}
.arrow:hover {
    --half: white;
}
#left-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid var(--half);
}
#right-arrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--half);
}
#left-anchor-arrow {
    left: -30px;
}
#right-anchor-arrow {
    right: -30px;
}
.anchor-arrow {
    margin-top: 40px;
    position: absolute;
    text-decoration: none;
}
.scroll-div {
    overflow: hidden;
    height: 75px;
    width: 75px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    scroll-margin-inline-start: 10px;
    scroll-margin-inline-end: 10px;
}
.scroll-img {
    flex: none;
    width: auto;
    height: 100px;
}
footer h1 {
    display: inline;
    flex: none;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:visited {
    color: white;
}
footer {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 20px;
}
.main {
    display: flex;
    position: relative;
    width: 1000px;
    height: 600px;
    flex: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1100px) {
    .main {
        width: 600px;
    }
    #scrollDivHolder {
        width: 570px;
    }
}
@media screen and (max-width: 700px) {
    .main {
        width: 300px;
    }
    #mainImgDiv {
        width: var(--main-img-wdht-sm);
        height: calc(var(--main-img-height-sm - 5));
    }
    #main-img {
        width: auto;
        height: var(--main-img-height-sm);
    }
    #left-anchor-arrow {
        display: none;
    }
    #right-anchor-arrow {
        display: none;
    }
    #scrollDivHolder {
        width: 285px;
    }
    #imgScrollDiv {
        overflow-x: auto;
    }
}